.container {

  display: flex;
  justify-content: center;       /* Centraliza .Quadro na horizontal */
  align-items: center;           /* Centraliza .Quadro na vertical */
  background-color: #f3f3f3;
}

.Quadro {
  width: 800px;
  height: 700px;
  border: 2px solid black;
  border-radius: 10px;
  background: radial-gradient(#18221a, #04100d);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;     
  align-items: center;        
  gap: 20px;   
}   

.Tabelas {
  width: 300px;
  height: 100px;
  border: 5px solid rgb(165, 165, 165);    
  background-color: #d8d7ca;
  border-radius: 10px;

  display: flex;
  flex-direction: column;       
  align-items: center;

  padding: 20px;
  color: black;
  text-align: center;
}

.Tabelas h1 {
  font-size: 22px;
  font-family: 'Fondamento', cursive;
}


.botoes {
  display: flex;  
}


.botoes button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  margin: 10px;
  font-family: 'Fondamento', cursive;
}


.logo img {
  width: 200px;
  height: auto;
  display: block;
}
 /* section vendo builds */
#BuildsSalvas {
    display: none;
}

